@media only screen and (min-width: 768px) {

    .swiper-slide {
        h1 {
            font-size: 70px;
            margin-bottom: 50px;
            line-height: 75px;
            max-width: 1024px;
        }

        h2 {
            font-size: 28px;
        }

        button {
            font-size: 26px;
        }
    }
}

// --------------custom slides--------------

// #landing-slide {
//     img {

//     }
// }